* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
     background-color: black; 
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4F709C;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    font-weight: bold;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #E5D283;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }




  .haut{
    width: 70%;
    height: auto;
   /* margin-top: 30px; */
   margin: 0 auto;
  
  }
  .bas{
    width: 100%;
    height: auto;
    background-color: white;
   margin-top: 30px;
    display: flex;
  }
  .bas img{
   width: 50%;
   
  }

  .la {
    width: 50%;
    height: auto;
  
  }

  .lo {
    width: 50%;
    height: auto;
   
    margin: O auto;
  
  }
  .la p{
    text-align: center;
    margin-top: 100px;
  }
  .lo p{
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .trait{
    width: 100%;
    height: auto;
    background-color: #E5D283;
  }
  .trait h1{
    text-align: center;
    color: white;
  }
  .haut h2{
    color: white;
    text-align: center;
    font-size: 40px;
  }
  .lo{
    margin: 0 auto;
  }
  .lali img{
     width: 100%;
     height: 550Px;
  }
  .milieu{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    height: auto;
    margin: 0 auto;
    
  }

  .tout{
    margin-top: -10px;
  }
   .vivi{
    margin-top: -2px;
  }
  .footer{
    width: 100%;
    height: 260px;
    background-color: #4F709C;
    display: flex;
    justify-content: space-around;
  }
  .mo{
    margin-top: -30px;
  }
  h1{
    margin-top: 50px;
  }
  .box{

  }
  .loi{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: -100px;
  }


  .rond{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50px;
  }

  h4{
    font-size: 40px;
    margin-top: -10px;
    color: #E5D283;
  }